{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="container-fluid mt-3 mb-3">
        {% for book in books %}
        <div class="row p-3 border rounded mb-3" data-url="{{ url_for('books.show', book_id=book.id) }}">
            <div class="col-md-3 mb-3 mb-md-0 d-flex align-items-center justify-content-center">
                <div class="book-logo" style="background-image: url({{ book.bg_image.url }});">
                </div>
            </div>
            <div class="col-md-9 align-items-center">
                <div class="d-flex">
                    <h4 class="text-uppercase" id="book_name">{{ book.name}}</h4>
                    <p class="ms-auto rating">
                        <span>★</span> <span>{{ book.rating }}</span>
                    </p>
                </div>
                <p class="text-muted my-3">{{ book.short_desc|markdown }}</p>
                <p>{{ book.volume }} {% if book.volume % 100 <= 20 and book.volume % 100> 4 %}страниц {% else %} {% if
                        book.volume % 10 == 1 %} страница {% else %} {% if book.volume % 10 < 5 %} страницы {% else %}
                            страниц {% endif %}{% endif %}{% endif %}</p>
                            <p class="text-muted my-3">Количество рецензий: {{ book.rating_num }}</p>
                            <p class="text-muted my-3">Год написания: {{ book.year }}</p>
                            <p class="text-muted my-3">{% if book.categories|length>1 %}Жанры{% else%}Жанр{% endif%}: {{
                                book.categories[0].name }}{% for cat in range(1,book.categories|length) %}, {{
                                book.categories[cat].name }}{% endfor %}</p>
                            <div class="d-flex justify-content-end">
                                <div class="px-2">
                                    <a class="btn btn-lg btn-dark "
                                        href="{{ url_for('books.show', book_id=book.id) }}">Подробнее</a>
                                </div>
                            </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}