{% extends 'visits/base.html' %}
{% from 'pagination.html' import render_pagination %}

{% block tab_content %}
<div class="container">
    <h2>Журнал посещений</h2>

    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Пользователь</th>
                <th>Название книги</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
            {% for record in range(0,pages) %}
            <tr>
                <td> {{ records[record].id }}</td>
                <td>
                    {{ users[record] }}
                </td>
                <td> {{ books[record] }}</td>
                <td> {{ records[record].created_at.strftime('%d.%m.%Y %H:%M:%S') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mb-5">
        {{ render_pagination(pagination, request.endpoint) }}
    </div>
    <div class="mb-5">
        <a class="btn btn-primary" href="{{ url_for('visits.book_stat', download_csv=True) }}">Экспорт в CSV</a>
    </div>
</div>
{% endblock %}