{% macro render_edit(flag,categories,book='',errors=['','','','','','','False','']) %}
<div class="mb-3 row">
    <div class="{% if flag=='new' %} col-md-6 {% else %} col-md-12 {% endif %} d-flex flex-column">
        <div class="mb-3">
            <label for="name">Название</label>
            <input class="form-control {% if errors[0] %} is-invalid {% endif %}" type="text" name="name" id="name"
                value="{{ book.name or ''}}">
            <div class="invalid-feedback">Поле не может быть пустым</div>
        </div>
        <div class="mb-3">
            <div class="{% if errors[7] %} is-invalid {% endif %}">
                <label for="category is-invalid">Жанр</label>
                {% for category in categories %}
                <div class="mb-1 ">
                    <input class="form-check-input" type="checkbox" name="category{{ category.id }}"
                        id="flexCheckDefault" {% for checked in book.categories %}{% if category.id==checked.id %}
                        checked {% endif %}{% endfor %}>
                    <label class="form-check-label" for="flexCheckDefault">
                        {{ category.name }}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="invalid-feedback">Поле не может быть пустым</div>
        </div>
        <div class="mb-3">
            <label for="name">Автор</label>
            <input class="form-control {% if errors[2] %} is-invalid {% endif %}" type="text" name="author" id="author"
                value="{{ book.author or ''}}">
            <div class="invalid-feedback">Поле не может быть пустым</div>
        </div>
        <div class="mb-3">
            <label for="name">Издание</label>
            <input class="form-control {% if errors[3] %} is-invalid {% endif %}" type="text" name="pub_house"
                id="pub_house" value="{{ book.pub_house or ''}}">
            <div class="invalid-feedback">Поле не может быть пустым</div>
        </div>
        <div class="mb-3 d-flex flex-column flex-grow-1">
            <label for="short_description">Краткое описание</label>
            <textarea class="form-control flex-grow-1 {% if errors[4] %} is-invalid {% endif %}" name="short_desc"
                id="my-text-area" cols="30" rows="5">{{ book.short_desc or '' }}</textarea>
            <div class="invalid-feedback">Поле не может быть пустым</div>
        </div>

        <div class="mb-3">
            <label for="year">Год написания</label>
            <input class="form-control {% if errors[1] %} is-invalid {% endif %}" value="{{ book.year or ''}}"
                type="number" name="year" id="year">
            <div class="invalid-feedback">Некорректный год написания</div>
        </div>

        <div class="mb-3">
            <label for="name">Количество страниц</label>
            <input class="form-control {% if errors[5] %} is-invalid {% endif %}" value="{{ book.volume or ''}}"
                type="number" name="volume" id="volume">
            <div class="invalid-feedback">Поле не может быть пустым</div>
        </div>

    </div>
    {% if flag=='new' %}
    <div class="col-md-6 d-flex flex-column">
        <div class="mb-3">
            <label for="background_img">Фоновое изображение</label>
            <input class="form-control" type="file" name="background_img" id="background_img">
        </div>
        <div class="mb-3 background-preview p-3 rounded d-flex align-items-center justify-content-center">
            <img src="#" class="img-fluid d-none" alt="">
            <label for="background_img" class="btn btn-dark">Выбрать изображение</label>
        </div>
    </div>
    {% endif %}
</div>
{% if flag=='new' %}
<div class="mb-3 text-center">
    <input type="submit" class="btn btn-dark" value="Сохранить">
</div>
{% endif %}
{% endmacro %}