{% extends 'base.html' %}

{% block content %}
<div class="h-100 text-center d-flex p-3 bg-light">
    <div class="m-auto">
        <h1 class="title mb-5 font-weight-bold">Электронная библиотека</h1>

        <div class="container">
            <p class="description w-75 mb-5 px-3 mx-auto">
                Электронная библиотека - это крупнейший российский портал в области книг,
                содержащий множество жанров произведений и полные тексты более 38 млн книг, в том числе
                электронные версии более 5600 журналов, из которых более 4800 журналов в открытом доступе.
            </p>
            <div class="my-2">
                <a href="{{ url_for('index') }}">
                    <img class="img-fluid" src="{{ url_for('static', filename='images/00.jpg') }}" alt="photo-library">
                </a>
            </div>
            <div class="text-center my-3">
                <a class="btn btn-lg btn-dark" href="{{ url_for('books.index') }}">Перейти к книгам</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}